/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.header-buttons button:hover {
    background-color: #fff;
    color: #000;
}

/* Main Content */
main {
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

/* Movie Section */
.movie {
    display: inline-block;
    /* width: calc(100% / 4 - 1rem); */
    margin: 0 0.5rem 3rem;
    text-align: center;
}

.movie-image {
    /* width: 100%; */
    border-radius: 5px;
}

.details-button {
    margin-top: 0.5rem;
    background: #e50914;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.details-button:hover {
    background: #ff0a16;
}

/* Modal */
/* ... (other styles) */

/* Modal styles */
#movieModal {
    display: none;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    max-width: 97%; /* Limit the modal width */
    margin: auto; /* Center the modal */
    top: 1%;
  }
  
  .movie-image {
    /* max-width: 30%; */
    margin-right: 20px;
  }
  
  .movie-info {
    flex-grow: 1;
  }
  
  #closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* ... (other styles) */
  
/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #141414;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

#closeModalButton {
    background: #e50914;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    float: right;
}

#closeModalButton:hover {
    background: #ff0a16;
} */
