/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-buttons a {
    text-decoration: none;
}

.header-buttons button:hover {
    background-color: #ffffff;
    color: #000;
}

/* Main Content */
main {
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

/* Glass-like Boxes */
.glass-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
}

/* Best Movie Layout */
#bestMovieDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bestMovieDetails img {
    flex-basis: 50%;
}

#bestMovieDetails div {
    flex-basis: 50%;
    padding-left: 1rem;
}

/* Movie Section */
.movie {
    flex: 1;
    min-width: calc(5% - 1rem);
    text-align: center;
    margin: 5px;
}

/* Carousel Styling */
.categoryMovies {
    position: relative;
    display: flex;
    overflow: hidden;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    z-index: 1;
    opacity: 0.6;
}

/* .prev {
    left: 0;
}

.next {
    right: 0;
} */

.arrow-left, .arrow-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block; /* Changed from none */
    background-color: rgba(255, 255, 255, 0.5);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

/* Modal styles */
#movieModal {
    display: none;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    padding-top: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    max-width: 97%; /* Limit the modal width */
    margin: auto; /* Center the modal */
    top: 1%;
  }
  
  .movie-image {
    /* max-width: 30%; */
    margin-right: 20px;
    width: auto; /* Set image width to 50% */
    height: 50%; /* Maintain aspect ratio */
  }
  
  .movie-info {
    flex-grow: 1;
  }
  
  #closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  